<!--
<input type="text" class="form-control" [(ngModel)]="carName">
<input type="text" class="form-control" [(ngModel)]="carYear">
<button class="btn btn-primary" (click)="addCar()" >Добавить машину</button>

<hr>

<app-car *ngFor ="let car of cars" [carItem]="car"></app-car>
-->

<p>Add Car Form</p>
<hr>
<app-add-car (onAddCar)="updateCarList($event)"></app-add-car>
<hr>

<div class="list-group">
  <app-car class="list-group-item" *ngFor="let car of cars" [carItem]="car">
    <div class="alert alert-info">This car is sold.</div>
  </app-car>
</div>
